@keyframes rainbowBackground {
    0%, 100% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
}

body {
    align-items:center;
    animation:rainbowBg 10s infinite alternate ease-in-out;
    background:linear-gradient(120deg,red,#ff8000,#ff0,#0f0,#00f,#4b0082,#ee82ee);
    background-size:200% 200%;
    color:#fff;
    display:flex;
    font-family:'Roboto',sans-serif;
    justify-content:center;
    margin:0;
    min-height:100vh
}

.login-container {
    backdrop-filter:blur(8px);
    background:#ababab66;
    border:2px solid #ffffff4d;
    border-radius:20px;
    box-shadow:0 15px 25px #0006;
    max-width:600px;
    padding:40px;
    text-align:center;
    text-shadow:0 0 6px #000;
    width:100%
}

.login-form h2 {
    font-size:34px;
    margin-bottom:24px;
    margin-top:0;
    text-align:center;
    text-shadow:0 0 15px #000;
}

.input-group {
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    position:relative
}

.input-group label {
    font-weight:600;
    margin-bottom:5px;
    transition:color .3s
}

.input-group input {
    background-color:#00000040;
    border:1px solid #1f1f1f1c;
    border-radius:8px;
    box-shadow:0 0 6px #0006;
    color:#fff;
    padding:10px;
    transition:all .2s ease
}

.input-group input:hover {
    border-color:#6b8fcf
}

.input-group input:focus {
    border-color:#4d76b9;
    box-shadow:0 0 7px #4d76b9;
    outline:none
}

.login-button {
    background:linear-gradient(90deg,#6391dc,#5783d7);
    border:none;
    border-radius:8px;
    box-shadow:0 4px 15px #0000004d;
    color:#fff;
    cursor:pointer;
    font-size:18px;
    padding:10px;
    text-shadow:0 0 12px #000;
    transition:all .3s ease;
    width:100%
}

.login-button:hover {
    background:linear-gradient(90deg,#4f7dc9,#4878d0)
}

.error-message p {
    color:#f3747d;
    margin-top:20px;
    margin-bottom:0;
    text-align:center
}